.page-footer {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
}

.footer-top,
.footer-middle {
  background-color: #32425c;
}

.footer-bottom {
  background-color: #293449;
}

.footer-wrapper {
  /* display: flex; */
}

.footer-middle .footer-wrapper {
  /* padding-top: 32px; */
}

.footer-top .logo {
  /* margin-right: 170px; */
}

.footer-top-menu {
  margin: 0;
  padding: 0;
  /* display: flex; */
  list-style: none;
  /* flex-grow: 1; */

  /* подобрал, пока без pixel perfect */
  /* justify-content: space-between; */
  /* padding-top: 23px; */
}

/* .footer-top-menu-item {} */

.footer-top-menu-item a {
  color: #f1f5f7;
  font-size: 18px;
  line-height: 24px;
}

.footer-top-menu a:hover,
.footer-top-menu a:focus,
.footer-middle-menu a:hover,
.footer-middle-menu a:focus {
  text-decoration: underline;
}

.footer-top-menu-item a:active {
  text-decoration: none;
  color: rgba(241, 245, 247, 0.5);
}

/* .footer-middle {
  display: flex;
  padding-bottom: 51px;
} */

.footer-middle-contacts {
  padding: 0;
  margin: 0;
  color: #f1f5f7;
  font-size: 18px;
  line-height: 24px;
  /* width: 332px; */
}

.footer-middle-menu {
  list-style: none;
  margin: 0;
  padding: 0;

  /* display: flex;
  flex-grow: 1;
  justify-content: space-between;*/
}

.footer-middle-menu-item a {
  color: #ffd180;
  font-size: 18px;
  line-height: 24px;
}

.footer-middle-menu-item a:hover,
.footer-middle-menu-item a:focus {
  text-decoration: underline;
}

.footer-middle-menu-item a:active {
  color: rgba(255, 209, 128, 0.5);
  text-decoration: none;
}



.footer-bottom-copyright {
  margin: 0;
  padding: 0;
  color: #ffffff;
}

.footer-bottom {
  font-size: 16px;
  line-height: 18px;

  /* padding-top: 38px;
  padding-bottom: 36px; */
}

/* .footer-bottom-contacts {
  display: flex;
} */

.footer-bottom-contacts p {
  padding: 0;
  margin: 0;
  color: #ffffff;
}

/* .footer-bottom-contacts p:nth-last-child(1) {
  margin-right: 16px;
  margin-left: 53px;
} */

.footer-bottom-contacts a {
  color: #ffd180;
  display: block;
}

.footer-bottom-contacts a:hover,
.footer-bottom-contacts a:focus {
  text-decoration: underline;
}

.footer-bottom-contacts a:active {
  color: #ee3643;
  text-decoration: none;
}

.footer-bottom-social  {
  list-style: none;
  margin: 0;
  padding: 0;

  /* display: flex; */
  /* flex-grow: 1; */
  /* justify-content: center; */
}

.footer-bottom-social a {
  display: block;
  width: 42px;
  height: 42px;
  border-radius: 21px;
  margin-left: 2px;
  margin-right: 2px;
}

.footer-bottom-social a:hover,
.footer-bottom-social a:focus,
.footer-bottom-social a:active
{
  background-color: #ee3643;
}

.social-item-vk a {
  background: #212a3a url("../img/icon-vk.svg") no-repeat center;
}

.social-item-fb a {
  background: #212a3a url("../img/icon-fb.svg") no-repeat center ;
}

.social-item-instagram a {
  background: #212a3a url("../img/icon-insta.svg") no-repeat center;
}
