/**************************************************
INDEX TILE START
**************************************************/

.categories {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400; /* ? */
  margin-top: 59px;
  margin-bottom: 53px;
}

.categories-line {
  display: flex;
}

.categories-line  .category:last-child {
  margin-right: 0px;
}

.categories-line .category {
  margin-right: 20px;
}

.category-column .category {
  margin-left: 20px;
}

.category-column .category:first-child {
  margin-bottom: 20px;
}

.ruler {
  position: relative;
}

.ruler,
.category-ruler {
  width: 620px;
  height: 266px;
}

.category-ruler {
  display: none;
}

.category-ruler.active {
  display: block;
}

.ruler .arrow {
  position: absolute;
  width: 22px;
  height: 40px;
  top: 114px;
  border: none;
}

.ruler .bullet {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 220px;
  padding: 0;
  border-radius: 5px;
}

.ruler .bullet.active {
  background-color: #ee3643;
  border: #fff 2px solid;
  border-radius: 5px;

}

.bullet-left {
  left: 295px;
}

.bullet-right {
  left: 315px;
}

.ruler .arrow-left {
  left: 25px;
  background: url("../img/icon-left.svg") no-repeat center left;
}

.ruler .arrow-right {
  right: 20px;
  background: url("../img/icon-right.svg") no-repeat center left;
}

.category {
  width: 300px;
  height: 123px;
  position: relative;
}

.category-materials {
  background: #ffbf47 url("../img/icon-1.svg") no-repeat 213px 31px;
}

.category-instruments {
  background: #3bbce3 url("../img/icon-2.svg") no-repeat 197px 33px;
}

.category-technics {
  background: #dc91d8 url("../img/icon-3.svg") no-repeat 191px 31px
}

.category-discounts {
  background: #8ed78f url("../img/icon-4.svg") no-repeat 196px 26px;
}

.category-delivery {
  background: #ffc047 url("../img/icon-5.svg") no-repeat 191px 32px;
}

.category h3 {
  padding-left: 23px;
  padding-top: 20px;
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  color: #ffffff;
}

.categories > div:first-child {
  margin-bottom: 20px;
}

.category-ruler {
  width: 620px;
  height: 266px;
  position: relative;
}

.category-ruler .red-button {
  position: absolute;
  left: 25px;
  bottom: 22px;
  width: 195px;
  padding-left: 4px; /* perfect pixel */
}

.category-ruler h3 {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  position: absolute;
  left: 24px;
  top: 23px;
}

.category-ruler span {
  position: absolute;
  left: 25px;
  top: 60px;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.category .button {
  display: block;
  width: 135px;
  height: 38px;

  
  color: #fff;
  text-align: center;
  text-transform: uppercase;

  position: absolute;
  left: 25px;
  bottom: 22px;
  
  background-color: rgba(0, 0, 0, 0.1);
  padding-top: 10px;
  border-radius: 2px;
}

.category .button:hover,
.category .button:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.category .button:active {
  background-color: rgba(0, 0, 0, 0.3);
}

/**************************************************
INDEX TILE END
**************************************************/

.popular header {
  height: 89px;
  display: flex;
  justify-content: space-between;
  background-color: #f9f5f0;
}

.popular h2 {
  margin: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  padding-left: 25px;
  padding-top: 31px;
  color: #32425c;
  font-weight: normal;
}

.popular .red-button {
  width: 253px;
  margin-right: 24px;
  margin-top: 25px;
}

/**************************************************
SERVICES START
**************************************************/

.services {
  background-color: #f4f7f9;
  margin-top: 65px;
  padding-top: 45px;

}
.catalog .services {
  margin-top: 60px;
  padding-top: 45px;
  padding-bottom: 48px;
}

.services h2 {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
  font-weight: 400;
  margin: 20px 0;
}

.service-about p {
  width: 398px;
}

.services-interactive h3 {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  color: #32425c;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.services-interactive .description {
  padding-top: 47px;
}

.services-interactive p {
  margin-top: 20px;
}

.services p {
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 24px;
  padding-top: 6px;
  padding-bottom: 20px;
}

.services-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 240px;
  padding-top: 50px;
  padding-bottom: 100px;
  margin-right: 80px;
  position: relative;
}

.services-menu::after {
  content: "";
  display: block;
  height: 280px;
  width: 10px;
  background: url("../img/services-menu-shadow.png");
  position: absolute;
  top: 0;
  right: 0;
}

.services-menu-item {
  box-shadow: 0px 1px 0 0 #293449, inset 0px 1px 0 0 #405069;
}

.services-menu-item a {
  display: block;
  height: 61px;

  background-color: #32425c;
  border-bottom: #4e637c 1px solid;
  padding-left: 22px;
  padding-top: 12px;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
  color: #ffffff;
}

.services-menu-item a:hover,
.services-menu-item a:focus {
  background-color: #293449;
  color: white;
}

.services-menu-item.active a {
  background-color: #ffffff;
  box-shadow: 0px 1px 0 0 #ffffff;
  color: #32425c;
  border: none;
}

.services-interactive {
  display: flex;
}

.services-interactive > div {
  flex-grow: 1;
}

.service-slides > div {
  height: 333px;
}

.services-interactive p {
  font-size: 13px;
  line-height: 24px;
  width: 311px;
}

.service-delivery {
  background: url("../img/truck.png") no-repeat right bottom;
  display: none;
}

.service-delivery.active {
  display: block;
}

.service-delivery p {
  margin-top: 19px;
  width: 275px;
}

.service-guarantee {
  background: url("../img/guarantee.png") no-repeat right bottom;
  display: none;
}

.service-guarantee.active {
  display: block;
}

.service-guarantee p {
  width: 379px;
}

.service-credit {
  background: url("../img/credit.png") no-repeat right bottom;
  display: none;
}

.service-credit.active {
  display: block;
}

.service-credit p {
  width: 279px;
}

.service-credit .red-button {
  width: 195px;
}

/**************************************************
SERVICES END
**************************************************/

/**************************************************
VENDORS START
**************************************************/

.vendors-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;

  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.vendors-list-item {
  border: #eaeaea 1px solid;
  /* margin-left: 20px; */
  margin-bottom: 20px;
  display:flex;
}

.vendors-list-item:hover,
.vendors-list-item:focus{
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.vendors-list-item:active {
  box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
}

.vendors-list-item:active img {
  opacity: 0.3;
}

.vendors-list-item a {
  display: flex;
  width: 218px;
  height: 143px;
  align-items: center;
  justify-content: center;
}

/**************************************************
VENDORS END
**************************************************/

/**************************************************
CONTACTS START
**************************************************/

.contacts {
  display: flex;
  margin-top: 80px;
  margin-bottom: 86px;

  /* font-family: "Cuprum", Arial, sans-serif; */
  font-size: 13px;
  line-height: 24px;
}

.contacts .red-button {
  margin-top: 37px;
  width: 220px;
}

.contacts-company p {
  font-size: 13px;
  line-height: 24px;
  margin: 0;
  padding: 0;
  padding-top: 25px;
}

/* ПОЧЕМУ НЕ РАБОТАЕТ */
/* .contacts-company-left p:last-of-type {
  width: 400px;
} */

.contacts-company .map {
  margin-top: 30px;
}

.contacts-company:last-child p {
  width: 179px;
}

.contacts-company:last-child .red-button {
  margin-top: 33px;
  width: 300px;
}

.contacts .contacts-company-left {
  width: 535px;
  margin-right: 110px;
}

.contacts-company h2,
.contacts-company h3 {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
}

.contacts-company .advantages {
  font-family: "Cuprum", Arial, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 20px;

  margin-top: 20px;
  list-style: none;
}

.advantages-item {
  padding-left: 36px;
  margin-bottom: 20px;
  position: relative;
}

.advantages-item::before {
  position: absolute;
  width: 25px;
  left: 0px;
  top: 9px;
  height: 2px;
  display: block;
  content: "";
  background-color: red;
}

/**************************************************
CONTACTS END
**************************************************/

/**************************************************
SEARCH RESULTS START
**************************************************/

.breadcrumbs {
  text-transform: uppercase;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top:20px;
}

.breadcrumbs > li {
  margin-left: 19px;
}

.breadcrumbs > li:nth-child(1) {
  margin-left: 0;
}

.breadcrumbs > li:nth-child(2) {
  margin-left: 15px;
}

.breadcrumbs > li:nth-child(4) {
  margin-left: 17px;
}

.breadcrumbs .home:before {
  content: "";
  display: block;
  width: 14px;
  height: 12px;
  background-image: url("../img/icon-home.svg");
  margin-top:1px;
}

.breadcrumbs li:not(:first-child) {
  background: url("../img/icon-right-small.svg") no-repeat center left;
  padding-left: 24px;
}

.breadcrumbs a {
  color: #000;
}

.catalog h1 {
  height: 89px;
  padding-left: 27px;
  padding-top: 30px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  background-color: #f2f6f8;
  color: #32425c;
  font-weight: 400;
}

.search-results {
  display: flex;
}

.search-results .results {
  width: 700px;
}

/**************************************************
SEARCH RESULTS END
**************************************************/

/**************************************************
CATALOG FILTERS START
**************************************************/

.filters hr {
  height: 1px;
  background-color: #e5e5e5;
  border: 0;
  padding: 0;
}

.search-results fieldset {
  border: none;
  padding: 0;
}

.search-results legend {
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 13px;
}

.filter-group {
  height: 38px;
  background-color: #f7f3ec;
  padding-left: 19px;
  padding-top: 11px;
  text-transform: uppercase;
  margin: 0;
  font-weight: 400;
  margin-bottom: 12px;
  font-size: 13px;
  line-height: 18px;
}

.filter {
  margin: 0;
}

.price-filter .range {
  background-color: #f7f3ec;
  width: 220px;
  height: 80px;
  margin-bottom: 10px;
  padding: 39px 20px 0 20px;
  border-radius: 5px;
  position: relative;
}

.price-filter {
  margin-bottom: 25px;
}

.vendor-filter {
  margin-top: 16px;
  margin-bottom: 22px;
}

.range .line {
  height: 2px;
  background: #d7dcde;
}

.range .active-line {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range .bullet {
  position: absolute;
  top: 30px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  border: 8px solid #fff;
  border-radius: 50%;
  background: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  padding: 0;
}

.range .bullet.left {
  left: 30px;
}

.range .bullet.right {
  left: 70px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.price-controls span {
  padding-top: 9px;
}

.price-filter input[type="text"] {
  background-color: #f7f3ec;
  width: 95px;
  height: 38px;
  border: none;
  border-radius: 5px;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
}

.power-filter {
  padding: 0;
  padding-left: 34px;
  margin-top: 17px;
}

.power-filter legend {
  margin-bottom: 11px;
}

.power-filter span.input-label {
  padding-top: 2px;
}

.power-filter-items {
  list-style: none;
  padding: 0;
  margin: 0;
}

.vendor-filter-item,
.power-filter-item {
  text-transform: uppercase;
  font-size: 15px;
  line-height: 20px;
}

span.input-label {
  position: relative;
  padding-left: 34px;
  display: block;
  padding-top: 1px;
}

.filter-radio + span.input-label::before {
  content: "";
  display: block;
  width: 25px;
  height: 25px;
  position: absolute;
  left: 0px;
  top: 0px;
  background: url("../img/radio-off.svg");
  opacity: 0.8;
}

.filter-radio:checked + span.input-label::before {
  background: url("../img/radio-on.svg");
}

.filter-radio:hover + span.input-label::before,
.filter-radio:focus + span.input-label::before {
  opacity: 1.0;
}

.filter-radio:disabled + span.input-label::before {
  opacity: 0.3;
}

.filter-radio:disabled + span.input-label {
  opacity: 0.4;
}

.filter-checkbox + span.input-label::before {
  content: "";
  display: block;
  width: 23px;
  height: 23px;
  left: 0px;
  top: 0px;
  background: url("../img/checkbox-off.svg");
  position: absolute;
  opacity: 0.8;
}

.filter-checkbox:checked + span.input-label::before {
  background: url("../img/checkbox-on.svg");
  width: 27px;
}

.filter-checkbox:hover + span.input-label::before,
.filter-checkbox:focus + span.input-label::before {
  opacity: 1.0;
}

.filter-checkbox:disabled + span.input-label::before {
  opacity: 0.3;
}

.filter-checkbox:disabled + span.input-label {
  opacity: 0.4;
}

.vendor-filter-item:not(:last-child),
.power-filter-item:not(:last-child) {
  margin-bottom: 19px;
}

.filters {
  width: 220px;
  margin-right: 20px;
}

.vendor-filter ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.filters button[type="submit"] {
  width: 140px;
  height: 38px;
  background-color: #ffffff;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  margin-top: 79px;
  border: #e5e5e5 1px solid;
}

.filter-group-label {
  text-transform: uppercase;
  margin: 0;
}

/**************************************************
CATALOG FILTERS END
**************************************************/

/**************************************************
SORTER START
**************************************************/

.sorter {
  /* width: 700px; */
  background-color: #f7f3ec;
  padding-top: 10px;
  display: flex;
  padding-left: 19px;
  padding-right: 17px;
  height: 38px;
  justify-content: space-between;
}

.sorter-group {
  display: flex;
}

.sorter ul {
  display: flex;
  padding: 0;
  list-style: none;
}

.sorter-links {
  margin-right: 46px;
  justify-content: space-between;
  width: 354px;
  margin: 0 46px 0 20px;
}

.sorter-link {
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
  border-bottom: #ee3643 1px dashed;
}

.sorter-link:hover,
.sorter-link:focus {
  color: #000000;
  border-bottom: #ee3643 1px solid;
}

.sorter-buttons {
  margin: 0;
}

.sorter-buttons li:not(:first-child) {
  margin-left: 21px;
}

.sorter-link.active,
.sorter-link:active {
  color: #ee3643;
  border: none;
}

.sorter-button {
  fill: rgba(0, 0, 0, 0.2);
}

.sorter-button.desc svg {
  transform: rotate(180deg);
}

.sorter-button:hover,
.sorter-button:focus {
  fill: #000000;
}

.sorter-button:active,
.sorter-button.active {
  fill: #ee3643;
}

/**************************************************
SORTER END
**************************************************/

/**************************************************
CATALOG START
**************************************************/

/**************************************************
OFFER START
**************************************************/

.offers {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  justify-content: space-between;
}

.search-results .offers {
  margin-bottom: 32px;
}

.offer {
  width: 220px;
  height: 318px;
  border: #eaeaea 1px solid;
  position: relative;
  margin-bottom: 20px;
}

.offer.new::before,
.category.new::before {
  content: "";
  display: block;
  width: 60px;
  height: 59px;
  
  position: absolute;
  top: 0px;
  right: 0px;

  background: transparent url("../img/flag-new.png") top right;
  z-index: 10;
}

.offer:hover,
.offer:focus {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}


.offer h3 {
  margin: 0;
  padding: 0;
  margin-top: 5px;

  font-size: 18px;
  line-height: 20px;
  color: #000000;
  font-weight: bold;
  text-align: center;
}

.offer-name-link {
  display: block;

  color: #000000;

  padding-left: 29px;
  padding-right: 31px;
}

.offer-old-price {
  display: block;
  margin-top: 10px;
  margin-bottom: 7px;
  min-height: 20px;

  font-size: 17px;
  line-height: 18px;
  text-align: center;
  color: #a9a9a9;
  font-weight: bold;
  text-decoration: line-through;
  text-transform: uppercase;
}

.offer-current-price {
  display: block;
  width: 141px;
  height: 38px;

  margin-left: 41px;

  position: relative;

  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;

  background-color: #ee3643;
  border-radius: 3px;
}

.offer-current-price a {
  display: block;
  padding-top: 12px;
  color: #ffffff;
}

.offer-current-price::before {
  display: block;
  position: absolute;
  right: -19px;
  content: "";
  width: 1px;
  height: 1px;
  border: #ffffff 19px solid;
  border-left: #ee3643 19px solid;
}

.offer:hover .fast-actions,
.offer:focus .fast-actions {
  display: block;
}

/**************************************************
OFFER END
**************************************************/

/**************************************************
FAST ACTIONS START
**************************************************/

.fast-actions {
  display: none;
  width: 218px;
  height: 164px;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #ffffff;
  padding-top: 43px;
}

.fast-actions a {
  display: block;
  width: 135px;
  height: 38px;
  border-radius: 3px;
  padding-top: 10px;
  position: relative;

  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;

  margin: 0 auto 7px auto;
}

.offer-buy {
  color: white;
  box-shadow: inset 0px -3px 0 0 #367315;
  background-color: #63a63e;
  padding-left: 49px;
  margin-bottom: 7px;
}

.offer-bookmark {
  border: #63a63e 3px solid;
  text-align: center;
  color: #32425c;
}

.offer-bookmark:hover,
.offer-bookmark:focus {
  border-color: #32425c;
}

.offer-bookmark:active {
  opacity: 0.3;
}

.offer-buy::before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;

  background: url("../img/icon-cart.svg") no-repeat left center;

  position: absolute;
  left: 12px;
  top: 11px;

  opacity: 0.3;
}

.offer-buy:hover,
.offer-buy:focus {
  background-color: #5fbb2d;
}

.offer-buy:active {
  background-color: #518534;
  box-shadow: none;
}

.offer-buy:hover::before,
.offer-buy:focus::before,
.offer-buy:active::before {
  opacity: 1.0;
}

/**************************************************
FAST ACTIONS END
**************************************************/

/**************************************************
PAGINATOR START
**************************************************/

.pagination > ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.pagination-item {
  border:#e5e5e5 1px solid;
  border-radius: 3px;
  margin-left: 8px;
}

.pagination-item:first-child {
  margin-left: 0;
}

.pagination-item:not(.active):hover,
.pagination-item:not(.active):focus {
  border:#bdc6ca 1px solid;
}

.pagination li:not(.active):active {
  border:#ee3643 1px solid;
}

.pagination-item a {
  display: block;
  width: 38px;
  height: 38px;
  padding-top: 9px;
  text-align: center;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.pagination-item.active {
  background-color: #ee3643;
}

.pagination-item.active a {
  color: white;
}

.pagination-item.next a {
  width: 140px;
}

/**************************************************
PAGINATOR END
**************************************************/
