/* .page-main {
  margin-top: 59px;
} */

/**************************************************
INDEX TILE START
**************************************************/

.categories {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400; /* ? */
}

.ruler {
  position: relative;
}

.ruler,
.category-ruler {
  width: 620px;
  height: 266px;
}

.ruler .arrow {
  position: absolute;
  width: 22px;
  height: 40px;
  top: 114px;
  border: none;
}

.ruler .bullet {
  position: absolute;
  width: 10px;
  height: 10px;
}

.ruler .arrow-left {
  left: 25px;
  background: url("../img/icon-left.svg") no-repeat center left;
}

.ruler .arrow-right {
  right: 20px;
  background: url("../img/icon-right.svg") no-repeat center left;
}

/* .categories .new {
  background: url("../img/flag-new.png") no-repeat 213px 31px;
} */


.category {
  width: 300px;
  height: 123px;
  position: relative;
}

.category-materials {
  background: #ffbf47 url("../img/icon-1.svg") no-repeat 213px 31px;
}

.category-instruments {
  background: #3bbce3 url("../img/icon-2.svg") no-repeat 197px 33px;
}

.category-technics {
  background: #dc91d8 url("../img/icon-3.svg") no-repeat 191px 31px
}

.category-discounts {
  background: #8ed78f url("../img/icon-4.svg") no-repeat 196px 26px;
}

.category-delivery {
  background: #ffc047 url("../img/icon-5.svg") no-repeat 191px 32px;
}

.category h3 {
  padding-left: 23px;
  padding-top: 26px;
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  color: #ffffff;
}

.category-ruler {
  width: 620px;
  height: 266px;
  position: relative;
}

.category-ruler .red-button {
  position: absolute;
  left: 25px;
  bottom: 22px;
  width: 195px;
}

.category-ruler h3 {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  position: absolute;
  left: 24px;
  top: 27px;
}

.category-ruler span {
  position: absolute;
  left: 25px;
  top: 65px;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.category .button {
  text-decoration: none;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  left: 25px;
  bottom: 22px;
  display: block;
  width: 135px;
  height: 38px;
  background-color: rgba(0, 0, 0, 0.1);
  /* padding-left: 24px; */
  padding-top: 12px;
  border-radius: 2px;
}

.category .button:hover,
.category .button:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.category .button:active {
  background-color: rgba(0, 0, 0, 0.3);
}

/* .line_3_items {
display: flex;
}

.line_3_items > *,
.right > *
{
margin-right: 20px;
width: 300px;

height: 123px;
}

.line_3_items > *,
.right > *:not(:last-child) {
margin-bottom: 20px;
}


.line_3_items > *:last-child {
margin-right: 0px;
}

.line_3_items h3, .right h3 {
font-size: 24px;
line-height: 30px;
color: #ffffff;
margin-top: 26px;
margin-left: 23px;
}

.materials {
background-color: #ffbf47;
}

.materials .button {
background-color: #e5ac40;
}

.instruments {
background-color: #3bbce3;
}

.instruments .button {
background-color: #35a9cc;
}

.technics {
background-color: #dc91d8;
}

.technics .button {
background-color: #c682c2;
}

.discounts {
background-color: #8ed78f;
}

.discounts .button {
background-color: #80c180;
}

.delivery {
background-color: #ffc047;
}

.delivery .button {
background-color: #e5ac40;
}

.line_3_items .button, .right .button {
width: 135px;
font-size: 14px;
line-height: 38px;
color: #ffffff;
text-transform: uppercase;
margin-left: 25px;
height: 38px;
display: block;
text-align: center;
}

.linex2 {
display: flex;
}

.linex2 .left {
width: 620px;
margin-right: 20px;
}

.linex2 .right {
width: 300px;
display: flex;
  flex-direction: column;
}

.linex2 .right > *:last-child {
  margin-top: 20px;
}

.ruler {
  padding-left: 24px;
  margin-top: 0px;
  height: 266px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.ruler h3 {
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
  margin: 0;
  margin-bottom: 8px;
  margin-top: 27px;
}

.ruler span {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.ruler .red-button {
  position: absolute;
  bottom: 22px;
  left: 25px;
}*/

/**************************************************
INDEX TILE END
**************************************************/

.popular header {
  /* height: 89px; */
  /* display: flex; */
  /* justify-content: space-between; */
}

.popular h2 {
  margin: 0;
  padding-left: 30px;
  padding-top: 33px;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425c;
}

.popular .red-button {
  width: 253px;
}

/* .popular header a {
  margin-top: 25px;
  margin-right: 24px;
} */

/**************************************************
SERVICES START
**************************************************/

.services {
  background-color: #f4f7f9;
  /* padding-top: 68px; */
}

.services h2 {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.services-interactive h3 {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  color: #32425c;
}

.services p {
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 24px;
}

.services-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 240px;
  padding-top: 75px;
  padding-bottom: 100px;
  margin-right: 80px;
}

.services-menu-item {
  box-shadow: 0px 1px 0 0 #293449, inset 0px 1px 0 0 #405069;
}

.services-menu-item a {
  font-family: 'Cuprum', Arial, sans-serif;
  display: block;
  font-size: 21px;
  line-height: 30px;
  padding-left: 22px;
  font-weight: bold;
  height: 61px;
  color: #ffffff;
  background-color: #32425c;
  border-bottom: #4e637c 1px solid;
  padding-left: 22px;
  padding-top: 21px;
}

.services-menu-item a:link {
  text-decoration: none;
}

.services-menu-item .active {
  background-color: #ffffff;
  box-shadow: 0px 1px 0 0 #ffffff;
  color: #32425c;
  border: none;
}

.services-menu-item:hover a,
.services-menu-item:focus a {
  background-color: #293449;
  color: white;
}

.services-interactive {
  /* display: flex; */
}

.services-interactive > div {
  /* flex-grow: 1; */
}

.services-interactive p {
  font-size: 13px;
  line-height: 24px;
  width: 311px;
}

.service-delivery {
  background: url("../img/truck.png") no-repeat right bottom;
}

.service-guarantee {
  background: url("../img/guarantee.png") no-repeat right bottom;
}

.service-credit {
  background: url("../img/credit.png") no-repeat right bottom;
}

.service-credit .red-button {
  width: 195px;
}

/**************************************************
SERVICES END
**************************************************/

/**************************************************
VENDORS START
**************************************************/

.vendors-list {
  padding: 0;
  margin: 0;
  /* display: flex; */
  list-style: none;

  /* flex-wrap: wrap; */
  /* margin-left: -20px; dirty hack */
  /* margin-bottom: 65px; 85-20; */
  /* margin-top: 20px; */
}

.vendors-list-item {
  width: 220px;
  height: 145px;
  border: #eaeaea 1px solid;
  margin-left: 20px;
  margin-bottom: 20px;
}

.vendors-list-item:hover,
.vendors-list-item:focus{
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.vendors-list-item:active {
  box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
}

.vendors-list-item:active img {
  opacity: 0.3;
}

.vendors-list-item a {
  /* display: flex;
  height: 145px;
  width: 220px; */
}

.vendors-list-item img {
  margin: auto;
}

/**************************************************
VENDORS END
**************************************************/

/**************************************************
CONTACTS START
**************************************************/

.contacts {
  /* display: flex;
  margin-top: 82px;
  margin-bottom: 86px; */

  /* font-family: 'Cuprum', Arial, sans-serif; */
  font-size: 13px;
  line-height: 24px;
}

.contacts .red-button {
  width: 220px;
}

.contacts-company .red-button {
  width: 300px;
}

.contacts .contacts-company-left {
  width: 535px;
  margin-right: 110px;
}

.contacts-company h2,
.contacts-company h3 {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.contacts-company p {
  font-size: 13px;
  line-height: 24px;
}

.contacts-company .advantages {
  font-family: 'Cuprum', Arial, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 20px;

  /* margin-bottom: 37px; */
}

/**************************************************
CONTACTS END
**************************************************/

/**************************************************
CATALOG START
**************************************************/

.breadcrumbs {
  text-transform: uppercase;
}

.breadcrumbs a {
  color: #000;
  text-decoration: none;
}

.catalog h1 {
  height: 89px;
  padding-left: 30px;
  padding-top: 32px;
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  background-color: #f2f6f8;
  color: #32425c;
}

.search-results fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.search-results legend {
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
}

.filter-group {
  height: 38px;
  background-color: #f7f3ec;
  padding-left: 18px;
  padding-top: 14px;
  text-transform: uppercase;
}

.price-filter .range {
  background-color: #f7f3ec;
}

.price-filter input[type="text"] {
  background-color: #f7f3ec;
  width: 95px;
  height: 38px;
  border: none;
  border-radius: 5px;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
}

.vendor-filter-item,
.power-filter-item {
  text-transform: uppercase;
  font-size: 15px;
  line-height: 20px;
}

.filters button[type="submit"] {
  width: 140px;
  height: 38px;
  background-color: #ffffff;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.sorter {
  width: 700px;
  background-color: #f7f3ec;
  padding-top: 14px;
}

.filter-group-label {
  text-transform: uppercase;
}

.sorter-links a {
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
  border-bottom: #ee3643 1px dashed;
}

.sorter-links a:hover,
.sorter-links a:focus {
  color: #000000;
  border-bottom: #ee3643 1px solid;
}

.sorter-links a.active {
  color: #ee3643;
  border: none;
}

.sorter-buttons a {
  fill: rgba(0, 0, 0, 0.2);
}

.sorter-buttons a.desc svg {
  transform: rotate(180deg);
}

.sorter-buttons a:hover,
.sorter-buttons a:focus {
  fill: #000000;
}

.sorter-buttons a:active,
.sorter-buttons a.active {
  fill: #ee3643;
}

/**************************************************
CATALOG START
**************************************************/

/**************************************************
OFFER START
**************************************************/

.offers {
  /* display: flex;
  margin-top: 20px;
  margin-bottom: 20px; */
}

.offer {
  width: 220px;
  height: 318px;
  border: #eaeaea 1px solid;
  position: relative;
}

.offer:hover,
.offer:focus {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.offer:not(:last-child) {
  margin-right: 20px;
}

.offer h3 {
  width: 191px;
  margin: 0;
  /* margin-left: 15px; */
  text-align: center;
  color: #000000;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
}

.offer-name-link {
  text-decoration: none;
  color: #000000;
}

.offer-old-price {
  display: block;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  color: #a9a9a9;
  font-weight: bold;
  text-decoration: line-through;
}

.offer-current-price {
  margin-left: 40px;
  width: 141px;
  height: 38px;
  line-height: 18px;
  color: #ffffff;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
  position: relative;
  background-color: #ee3643;
  display: block;
  border-radius: 3px;
}

.offer-current-price a {
  color: #ffffff;
  width: 122px;
  height: 38px;
  display: block;
}

.offer-current-price a::after {
  position: absolute;
  right: -19px;
  content: "";
  width: 1px;
  height: 1px;
  border: solid white 19px;
  border-left:solid #ee3643 19px;
}

/**************************************************
OFFER END
**************************************************/

/**************************************************
FAST ACTIONS START
**************************************************/

.offer:hover .fast-actions,
.offer:focus .fast-actions {
  display: block;
}

.fast-actions {
  display: none;
  position: absolute;
  width: 218px;
  height: 164px;
  top: 0px;
  left: 0px;
  padding-left: 41px;
  padding-top: 44px;
  background: #fff;
}

.fast-actions a {
  font-size: 17px;
  line-height: 18px;
  font-family: 'Cuprum', Arial, sans-serif;
  text-transform: uppercase;
  display: block;
  width: 135px;
  height: 38px;
  padding-top: 14px;
  position: relative;
  text-decoration: none;
  border-radius: 3px;
}

.offer-bookmark {
  border: #63a63e 3px solid;
  text-align: center;
  color: #32425c;
}

.offer-bookmark:hover,
.offer-bookmark:focus {
  border-color: #32425c;
}
.offer-bookmark:active {
  opacity: 0.3;
}

.offer-buy {
  color: white;
  box-shadow: inset 0px -3px 0 0 #367315;
  background-color: #63a63e;
  padding-left: 49px;
  margin-bottom: 7px;
}

.offer-buy::before {
  background: url("../img/icon-cart.svg") no-repeat left center;
  opacity: 0.3;
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  left: 12px;
  top: 11px;
}

.offer-buy:hover,
.offer-buy:focus {
  background-color: #5fbb2d;
}

.offer-buy:active {
  background-color: #518534;
  box-shadow: none;
}

.offer-buy:hover::before,
.offer-buy:focus::before,
.offer-buy:active::before {
  opacity: 1.0;
}

/**************************************************
FAST ACTIONS END
**************************************************/

/**************************************************
PAGINATOR START
**************************************************/

.paginator ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.paginator li {
  width: 38px;
  height: 38px;

  border:#e5e5e5 1px solid;
  border-radius: 3px;
  padding-top: 14px;
}

.paginator li:hover,
.paginator li:focus {
  border:#bdc6ca 1px solid;
}

.paginator li:active {
  border:#ee3643 1px solid;
}

.paginator li a {
  display: block;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.paginator li.active {
  background-color: #ee3643;
}

.paginator li.active a {
  color: white;
}

.paginator li.next {
  width: 140px;
}

/**************************************************
PAGINATOR END
**************************************************/
