/**************************************************
Base styles
**************************************************/
* {
	font-family: 'Cuprum', sans-serif;
}

/* контейнер шириной 940, выровненный по центру */
.wrap {
	width: 940px;
	margin: 0 auto;
}

.flex-row {
	display: flex;
	flex-direction: row;
}

/*
.flex-column {
	display: flex;
	flex-direction: column;
}
*/


/**************************************************
HEADER
**************************************************/
header {
	background: #f4f7f9;
	padding-bottom: 60px;
}

.top {
	align-items: flex-start;
	height: 42px;
	background-color: #293449;
	
	/*	strange */
	line-height: 42px;
	
	/*debug*/
/*	border: white 1px dashed;*/
	
}

/* logo */

.logo {
	width: 220px;
	text-align: center;
	border-bottom: #b52933 5px solid;
	height: 100%;
}

.logo a {
	text-transform: uppercase;
	font-size: 24px;
	background-color: #ee3643;
	color: white;
	vertical-align: middle;
	display: block;
}

.logo a:link {
	text-decoration: none;
}

.logo a:hover {
	background-color: #ca2c37;	
}

.logo a:active {
	background-color: #ee3643;
}

/* search */

.search-top {
	width: 270px;
	font-size: 17px;
	color: white;
/*	border: white 1px dashed;*/
}

#search-form label::before {
	content: url(../img/icon-search.png);
	padding-left: 17px;
	padding-right: 15px;
}

/* top-menu start */

#top-menu {
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
	width: 450px;
	font-size: 17px;
}

#top-menu li {
	line-height: 42px;
	width: 150px;
	margin: 0;
	padding: 0;
}

#top-menu li a {
	display: block;
	text-align: center;
}

#top-menu a:link, 
#top-menu a:visited {
	color: white;
	text-decoration: none;
}

/* bookmarks */
#top-menu a.bookmarks {
	
}

#top-menu a.bookmarks::before {
	content: url(../img/icon-bookmark.png);
	padding-right: 17px;
}

#top-menu a.bookmarks:hover {
	background-color: #212a3a;
}

#top-menu a.bookmarks:hover::before {
	/* opacity */
}

#top-menu a.bookmarks:active {
	background-color: #161d29;
}

#top-menu a.bookmarks:active::before {
	/* opacity */
}

/* basket*/

#top-menu a.basket {
	
}

#top-menu a.basket::before {
	content: url(../img/cart-icon.png);
	padding-right: 17px;
}

#top-menu a.basket:hover {
	background-color: #212a3a;
}

#top-menu a.basket:hover::before {
	/* opacity */
}

#top-menu a.basket:active {
	background-color: #161d29;
}

#top-menu a.basket:active::before {
	/* opacity */
}

/* checkout */

#top-menu a.checkout {
	background: #63a63e;
}

#top-menu a.checkout:hover {
	background: #5fbb2d;
}

#top-menu a.checkout:active {
	background: #518534;
}

/* top-menu end */

/* middle start */
.middle {
	margin-top: 46px;
	
}
.hello {
	margin-left: 48px;
	margin-top: 8px;
	width: 215px;
}

.hello h1 {
	font-weight: bold;
	font-size: 16px;
	font-style: italic;
	color: #ee3643;
}

.contacts {
	width: 264px;
	margin-left: 70px;
}

.contacts .telephone {
	color: #ea3536;
	font-size: 21px;
	line-height: 21px;
	border: white 3px solid;
	padding-top: 10px;
	padding-bottom: 10px;
}

.contacts .telephone::before {
	content: url(../img/icon-phone.png);
	padding-left: 15px;
	padding-top: 13px;
	margin-right: 40px;
}

.contacts .address {
	font-size: 14px;
	line-height: 24px;
	text-align: center;
}

#autorization {
	list-style: none;
	display: flex;
	width: 300px;
	justify-content: flex-end;
	height: 45px;
	padding: 0;
	margin: 0;
	margin-left: 50px;
}

#autorization a {
	display: block;
	background: #fff;
	color: black;
	line-height: 45px;
	text-align: center;
	text-decoration: none;
	font-size: 21px;
}

#autorization .register {
	width: 150px;
	margin-left: 10px;
}

#autorization .login {
	width: 121px;
}


/* main-menu */
nav.menu {
	height: 55px;

}
#main-menu {
	display: flex;
	list-style: none;
	justify-content: center; 
	background: #32425c;
	border-bottom: #293449 5px solid;
	height: 100%;
	width: 100%;
	justify-content: space-around;
}

#main-menu li {
	margin: 0;
	padding: 0;
	line-height: 55px;
}

#main-menu li a {
	display: block;
	text-align: center;
	color: white;
	padding: 0 31px;
}

#main-menu li a:link {
	text-decoration: none;
}

#main-menu li a:hover {
	background-color: #293449;
}

#main-menu li a:active {
	color: #868c95
}

/* middle end */ 

/**************************************************
MAIN
**************************************************/

/**************************************************
FOOTER
**************************************************/

