body {
  margin: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;

  min-width: 960px;
}

/**************************************************
PIXEL PERFECT TEST START
**************************************************/

html.pixel-perfect.index {
  background: url("../../technomart/preview/technomart-index.jpg") no-repeat center top;
}

html.pixel-perfect.catalog {
  background: url("../../technomart/preview/technomart-catalog.jpg") no-repeat center top;
}

html.pixel-perfect body {
  opacity: 0.5;
}

/**************************************************
PIXEL PERFECT TEST END
**************************************************/

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.wrapper {
  width: 940px;
  margin: 0 auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
